{% extends 'app/layouts/default.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    {% comment %} {% if messages %}
    {% for message in messages %}
    <p class="alert alert-success w-100 h-100">{{ message }} </p>
    {% endfor %}
    {% endif %} {% endcomment %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
    {% endif %}
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">LES CHAMBRES DISPONIBLES</h5>
                <a href="{% url 'add_bedroom' %}" class="hack2-btn">AJOUTER UNE CHAMBRE</a>
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">NUMERO</th>
                            <th scope="col">CATEGORIE</th>
                            <th scope="col">STATUS</th>
                            <th scope="col">EMPLACEMENT</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bedroom in bedrooms_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ bedroom.number }}</td>
                            <td>{{ bedroom.category }}</td>
                            <td>{{ bedroom.status }}</td>
                            <td>{{ bedroom.location }}</td>
                            <td>
                                <a href="{% url 'edit_bedroom' bedroom.id %}" class="hack-btn">MODIFIER</a>
                                <a href="{% url 'delete_bedroom' bedroom.id %}" class="hack1-btn">SUPPRIMER</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}