{% extends 'app/layouts/default_student.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <h5 class="card-title text-uppercase">{{page_title}}</h5>
    </div>

    <form id="myForm" action="{% url 'store_application_student' %}" method="post">
      {% csrf_token %}
      <div class="row m-2">
        <div class="col-md-6">{{form.matricule|as_crispy_field }}</div>
        <div class="col-md-6">{{form.etudiant|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-6">{{form.faculte|as_crispy_field }}</div>
        <div class="col-md-6">{{form.departement|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-4">{{form.logement|as_crispy_field }}</div>
        <div class="col-md-4">{{form.campus|as_crispy_field }}</div>
        <div class="col-md-4">{{form.numero_carte_de_residence|as_crispy_field }}</div>
      </div>

      <div class="row m-2">
        <div class="col-md-4">{{form.localisation|as_crispy_field }}</div>
        <div class="col-md-4">{{form.chambre|as_crispy_field }}</div>
        <div class="col-md-4">{{form.date_entree|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-4">{{form.maquisard|as_crispy_field }}</div>
        <div class="col-md-4">{{form.matricule_maquisard|as_crispy_field }}</div>
        <div class="col-md-4">{{form.maquisard_carte_de_residence|as_crispy_field }}</div>
      </div>

      <div class="d-flex justify-content-center">
        <button id="submitButton" class="btn btn-outline-success m-2"><i class="bi bi-arrow-up-right"></i>
          Envoyer ma demande</button>
        <button type="reset" class="btn btn-secondary m-2"><i class="bi bi-arrow-repeat"></i> Reinitialiser</button>
      </div>

      <!-- Modal HTML -->
      <div id="myModal" class="modal fade" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-uppercase text-primary">confirmation de votre demande</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <strong>Votre demande de logement est prête à etre soumise, Vérifier que les informations sur le
                formulaire
                sont conformes<br><br>Veuillez vous connecter à votre compte plus tard pour consulter le statut de votre
                demande <br>
                Nous vous remercions d'utiliser notre plateforme pour votre demande de logement
                <br><br>Cordialement;</strong>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-outline-secondary" data-bs-dismiss="modal"><i
                  class="bi bi-box-arrow-in-left"></i> Fermer</button>
              <button type="button" class="btn btn-outline-primary"><i class="bi bi-save"></i> Enregistrer votre
                demande</button>
            </div>
          </div>
        </div>
      </div>

    </form>

  </div>
</div>

<script>
  document.getElementById("submitButton").addEventListener("click", function (event) {
    event.preventDefault(); // Prevent form submission

    // Display the modal
    var myModal = new bootstrap.Modal(document.getElementById("myModal"));
    myModal.show();

    // Submit the form after displaying the modal
    setTimeout(function () {
      document.getElementById("myForm").submit();
    }, 2000); // Change the delay as needed (in milliseconds)
  });
</script>

{% endblock %}