{% extends 'app/layouts/default_student.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="card">
  <div class="card-body">
    <div class="d-flex justify-content-center">
      <h5 class="card-title text-uppercase">{{page_title}}</h5>
    </div>

    <form action="{% url 'store_application' %}" method="post">
      {% csrf_token %}
      <div class="row m-2">
        <div class="col-md-6">{{form.matricule|as_crispy_field }}</div>
        <div class="col-md-6">{{form.student|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-6">{{form.faculty|as_crispy_field }}</div>
        <div class="col-md-6">{{form.departement|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-4">{{form.accommodation|as_crispy_field }}</div>
        <div class="col-md-4">{{form.campus|as_crispy_field }}</div>
        <div class="col-md-4">{{form.residence_card_number|as_crispy_field }}</div>
      </div>

      <div class="row m-2">
        <div class="col-md-4">{{form.location|as_crispy_field }}</div>
        <div class="col-md-4">{{form.bedroom|as_crispy_field }}</div>
        <div class="col-md-4">{{form.maquisard|as_crispy_field }}</div>
      </div>
      <div class="row m-2">
        <div class="col-md-6">{{form.matricule_maquisard|as_crispy_field }}</div>
        <div class="col-md-6">{{form.residence_card_maquisard|as_crispy_field }}</div>
      </div>

      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-outline-success m-2"><i class="bi bi-arrow-up-right"></i> Envoyer la demande</button>
        <button type="reset" class="btn btn-secondary m-2"><i class="bi bi-arrow-repeat"></i> Reinitialiser</button>
      </div>

    </form>

  </div>
</div>

{% endblock %}