{% extends 'app/layouts/default_student.html' %}

{% block content %}
<div class="content">

    <h1>STATUT DE LA DEMANDE</h1>
    {% if attributions %}
    <p>Votre demande pour avoir un logement a été traité. <br>
        Rendez-vous au bureau de gestion des logements pour plus d'informations
        <br><br>FELICITATIONS !
    </p><br>
    {% for attribution in attributions %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Application ID</th>
                <th>Type de logement</th>
                <th>Date de demande</th>
                <th>Etudiant</th>
                <th>Chambre</th>
                <th>Mode paiement</th>
                <th>Montant payé</th>
                <th>Date d'attribution</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ attribution.id }}</td>
                <td>{{ attribution.student.accommodation.designation }}</td>
                <td>{{ attribution.student.date_application }}</td>
                <td>{{ attribution.student.student.last_name }} {{ attribution.student.student.first_name }}</td>
                <td>{{ attribution.bedroom.number }}</td>
                <td>{{ attribution.payment_method }}</td>
                <td>{{ attribution.amount_paid }}</td>
                <td>{{ attribution.date_attribution }}</td>
            </tr>
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <td>Votre demande n'a pas encore été traitée.</td>
    {% endif%}


</div>
{% endblock %}