{% extends 'app/layouts/default_student.html' %}

{% block content %}
<div class="content">
    <!-- application_detail.html -->
    {% if attribution %}
        <h1>STATUT DE  LA DEMANDE</h1>
        <p>Votre demande pour avoir un logement a été traité. <br>
            Rendez-vous au bureau de gestion des logements pour plus d'informations 
            <br><br>FELICITATIONS !</p><br>
        <p><span class="fw-bold">ETUDIANT :</span>{{ application.student.last_name }} {{ application.student.last_name }}</p>
        <p><span class="fw-bold">TYPE DE LOGEMENT: </span>{{ application.accommodation.designation }}</p>
        <p><span class="fw-bold">NUMERO DE LA CARTE DE RESIDENCE: </span>{{ application.residence_card_number }}</p>
        <p><span class="fw-bold">DATE DE DEMANDE: </span>{{ application.date_application }}</p>
        <p><span class="fw-bold">CHAMBRE: </span>{{ attribution.bedroom.number }}</p>
        <p><span class="fw-bold">METHODE DE PAIEMENT:</span> {{ attribution.payment_method }}</p>
        <p><span class="fw-bold">MONTANT PAYE:</span> {{ attribution.amount_paid }}</p>
        <p><span class="fw-bold">DATE D'ATTRIBUTION:</span> {{ attribution.date_attribution }}</p>
    {% else %}

        <h6 class="bold">VOTRE DEMANDE N'A PAS ENCORE ETE TRAITEE.</h6>
    {% endif %}



</div>
{% endblock %}