{% extends 'app/layouts/default.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">LES DEPARTMENTS DISPONIBLES</h5>
                <a href="{% url 'add_department' %}" class="hack2-btn">AJOUTER UN DEPARTMENT</a>
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">FACULTE</th>
                            <th scope="col">DESIGNATION</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ department.faculty_name }}</td>
                            <td>{{ department.designation }}</td>
                            <td>
                                <a href="{% url 'edit_department' department.id %}" class="hack-btn">MODIFIER</a>
                                <a href="{% url 'delete_department' department.id %}" class="hack1-btn">SUPPRIMER</a>
                            </td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>

    </div>
</div>

{% endblock %}