{% extends 'app/layouts/default.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="row">
    {% comment %} {% if messages %}
    {% for message in messages %}
    <p class="alert alert-success w-100 h-100">{{ message }} </p>
    {% endfor %}
    {% endif %} {% endcomment %}

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <i class="bi bi-check-circle me-1"></i>
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="col-lg-12">

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">LISTE DES DEMANDES FAITES</h5>
                <!-- <a href="{% url 'add_application' %}" class="hack2-btn">FAIRE UNE DEMANDE</a> -->
                <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">ETUDIANT (E)</th>
                            <th scope="col">FACULTE</th>
                            <th scope="col">DEPARTEMENT</th>
                            <th scope="col">MATRICULE</th>
                            <th scope="col">ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for application in application_list %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ application.etudiant }}</td>
                            <td>{{ application.faculte }}</td>
                            <td>{{ application.departement }}</td>
                            <td>{{ application.matricule }}</td>
                            <td>
                                <button type="button" class="hack-btn" data-bs-toggle="modal"
                                    data-bs-target="#detailsModal{{ forloop.counter }}">DETAILS</button>
                                <a href="{% url 'edit_application_status' application.id %}" class="hack-btn">PRENDRE DECISION</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
                {% for application in application_list %}
                <!-- Modal for application details -->
                <div class="modal fade" id="detailsModal{{ forloop.counter }}" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Détails de la demande</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p><strong>ETUDIANT.E:</strong> {{ application.etudiant }}</p>
                                        <p><strong>FACULTE:</strong> {{ application.faculte }}</p>
                                        <p><strong>DEPARTEMENT:</strong> {{ application.departement }}</p>
                                        <p><strong>MATRICULE:</strong> {{ application.matricule }}</p>
                                        <p><strong>CAMPUS:</strong> {{ application.campus }}</p>
                                        <p><strong>DATE ENTREE:</strong> {{ application.date_entree }}</p>
                                    </div>
                                    <div class="col-md-6">
                                        <p><strong>TYPE LOGEMENT:</strong> {{ application.logement }}</p>
                                        <p><strong>CHAMBRE:</strong> {{ application.chambre.numero }}</p>
                                        <p><strong>Catégorie:</strong> :{{ application.chambre.categorie }}</p>
                                        <p><strong>PAVILLON:</strong> {{ application.localisation.designation }}</p>
                                        <p><strong>DATE DEMANDE:</strong> {{ application.date_de_demande }}</p>
                                        <p>
                                            <strong>STATUS:</strong>
                                            {% if application.status == 1 %}
                                            <span class="badge bg-success">Approuvée</span>
                                            {% elif application.status == 0 %}
                                            <span class="badge bg-danger">Rejectée</span>
                                            {% else %}
                                            <span class="badge bg-warning">En attente</span>
                                            {% endif %}
                                        </p>
                                    </div>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock %}