<aside id="sidebar" class="sidebar">
    {% load static %}
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'dashboard' %}">
                <i class="bi bi-grid"></i>
                <span><Table>TABLEAU DE BORD</Table></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'view_users' %}">
                <i class="bi bi-grid"></i>
                <span><Table>COMPTES</Table></span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'view_application' %}">
                <i class="bi bi-grid"></i>
                <span><Table>DEMANDE</Table></span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="{% url 'view_attribution' %}">
                <i class="bi bi-grid"></i>
                <span><Table>ATTRIBUTION</Table></span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
                <i class="bi bi-menu-button-wide"></i><span>PARAMETRE</span><i class="bi bi-chevron-down ms-auto"></i>
            </a>
            <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                <li>
                    <a href="{% url 'view_student' %}">
                        <i class="bi bi-circle"></i><span>ETUDIANTS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_faculty' %}">
                        <i class="bi bi-circle"></i><span>FACULTE</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_department' %}">
                        <i class="bi bi-circle"></i><span>DEPARTMENT</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_bedroom' %}">
                        <i class="bi bi-circle"></i><span>CHAMBRE</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_location' %}">
                        <i class="bi bi-circle"></i><span>EMPLACEMENT</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_campus' %}">
                        <i class="bi bi-circle"></i><span>CAMPUS</span>
                    </a>
                </li>
                <li>
                    <a href="{% url 'view_accommodation' %}">
                        <i class="bi bi-circle"></i><span>TYPES DE LOGEMENT</span>
                    </a>
                </li>
            </ul>
        </li>
    </ul>

</aside>