<aside id="sidebar" class="sidebar">
    {% load static %}
    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item">
            <a class="nav-link " href="{% url 'student_dashboard' %}">
                <i class="ri ri-dashboard-2-line"></i>
                <span>
                    <Table>ETAT DE LA DEMANDE</Table>
                </span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="{% url 'view_application' %}">
                <i class="ri ri-user-add-fill"></i>
                <span>
                    <Table>FAIRE UNE DEMANDE</Table>
                </span>
            </a>
        </li>
    </ul>

</aside>